# --- Python & venv ---
**/venv/
**/env/
**/ENV/
**/__pycache__/
*.py[cod]
*$py.class

# --- ENV ---
.env
*.env

# --- Docker ---
**/data/db/
*.log

# --- IDE & OS ---
.vscode/
.idea/
Thumbs.db
.DS_Store

# --- GUI & temp ---
**/cache/
*.tmp